img{
  width: 1000;
}
img2 {
  height:60%;
  width: 60%;
  border-radius: 20px;
  background-color: black;


}
header {
  background: url("");
  text-align: center;
  background-color: white;
  color: black;
  font: serif; 

}
li {
  display:inline ;
}
body {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 90%;
  background-color: white;
  color: black; 

}
ul {
  color: white;
  background-color: pink;
  width: 200px;


}

blockquote {
  color: darkred;


}

@media (max-width: 450) {
  body {
    background: blue;
  }
  p {
    font-size: 20px;
  }

}